@model Category
 @*Category tipinde bir nesne oluşturulacak.*@
@{
    ViewData["Title"] = "Add";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form asp-action="Add" asp-controller="Category" method="post"> @*Category controllerındaki Add actionına post edilecek yani Add ın post olanı çalıştırılacak.*@
                <div asp-validation-summary="All" class="text-danger"></div>    @*Validationın ile ilgili hata özetleri bu kısımda gösterilecek.*@
                <div class="form-group">
                    @*Mvc deki labelfor ve textfor gibi çalışıyorlar*@
                    <label asp-for="CategoryName" class="col-sm-4 control-label"></label>
                    <div class="col-sm-8">
                        <input asp-for="CategoryName" class="form-control" />
                    </div>
                </div>
                <input type="submit" class="btn btn-success" value="Kategori Kaydet" />
            </form>
        </div>
    </div>
</div>
